<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>horsefish01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{445,637}</string>
                <key>spriteSourceSize</key>
                <string>{445,637}</string>
                <key>textureRect</key>
                <string>{{0,0},{445,637}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>horsefish02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{445,637}</string>
                <key>spriteSourceSize</key>
                <string>{445,637}</string>
                <key>textureRect</key>
                <string>{{445,0},{445,637}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>horsefish03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{445,637}</string>
                <key>spriteSourceSize</key>
                <string>{445,637}</string>
                <key>textureRect</key>
                <string>{{0,637},{445,637}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>horsefish04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{445,637}</string>
                <key>spriteSourceSize</key>
                <string>{445,637}</string>
                <key>textureRect</key>
                <string>{{445,637},{445,637}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>horsefish05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{445,637}</string>
                <key>spriteSourceSize</key>
                <string>{445,637}</string>
                <key>textureRect</key>
                <string>{{0,1274},{445,637}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>horsefish.png</string>
            <key>size</key>
            <string>{890,1911}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b114086338ed6625a3071e6069535fb3:1dcd540e30f83b4a1500775c9433911c:46e86efeb9e0a57189ae94315df4a242$</string>
            <key>textureFileName</key>
            <string>horsefish.png</string>
        </dict>
    </dict>
</plist>
