<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>urchin01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,186}</string>
                <key>spriteSourceSize</key>
                <string>{174,186}</string>
                <key>textureRect</key>
                <string>{{0,0},{174,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>urchin02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,186}</string>
                <key>spriteSourceSize</key>
                <string>{174,186}</string>
                <key>textureRect</key>
                <string>{{174,0},{174,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>urchin03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,186}</string>
                <key>spriteSourceSize</key>
                <string>{174,186}</string>
                <key>textureRect</key>
                <string>{{348,0},{174,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>urchin04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,186}</string>
                <key>spriteSourceSize</key>
                <string>{174,186}</string>
                <key>textureRect</key>
                <string>{{522,0},{174,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>urchin.png</string>
            <key>size</key>
            <string>{696,186}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73806778f43608e1f3ecdf937ec5f7fe:3b5885c691e761339281f5622d511f23:35ad59b5b2ffbaea56110e7857ae9935$</string>
            <key>textureFileName</key>
            <string>urchin.png</string>
        </dict>
    </dict>
</plist>
